
.son_tweet_div {
	display: none;
}

.twitp_center {
    text-align:center;
}

.twitp_right {
    text-align:right;
}

.twitp_inline_icons {
    display: inline-block;
    border: solid 1px black;
}

tr.fraction-done {
    background-color: #c5bb90 !important;
}

/*.border-bottom {
    border-bottom: solid 1px black;
}*/

.twitp_striket {
    background: transparent url('http://trante.github.io/twt/img/striket.png')  0 50% repeat-x;
}
